#message-area {
    font-size: xx-large;
    color: red;
}

#common-data-area {
    width: 100%;
}

#sensor-data-area {
    width: 50%;
    float: left;
}

#attitude-data-area {
    width: 50%;
    float: left;
}

#attitude-data-area canvas {
    //margin: 0 auto;
}

.figure-title {
    font-size: x-large;
}

.sensor-data-chart {
    width: 100%;
    height: 200px;
}
