<html>
<head>
  <title>INS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/threejs/r69/three.min.js"></script>
  <script src="{{ static_url('amcharts/amcharts.js') }}"></script>
  <script src="{{ static_url('amcharts/serial.js') }}"></script>
  <script src="{{ static_url('main.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ static_url('main.css') }}">
</head>

<body>

  <h1>INS</h1>

  <div id="message-area"><span id="message"></span></div>

  <div id="common-data-area">
    <span>Time: </span><span id="time"></span>
  </div>

  <div id="position-data-area">
  position
  </div>

  <div id="sensor-data-area">
    <div class="figure-title">Acceleration</div>
    <div id="accel-chart" class="sensor-data-chart"></div>
    <div class="figure-title">Angular rate</div>
    <div id="angr-chart" class="sensor-data-chart"></div>
    <div class="figure-title">Magnetic</div>
    <div id="mag-chart" class="sensor-data-chart"></div>
  </div>

  <div id="attitude-data-area">
    <div class="figure-title">Attitude</div>
  </div>

</body>
</html>
